/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

nav ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input,select {
	vertical-align: middle
}
input,button,select,textarea{outline:none}

.hide{
	display: none;
}
.show{
	display: block;
}

.bookmarkitem{
	background-image: url(../icons/bookmark.png);
	background-repeat: no-repeat;
	background-position: right 6px;
}

.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.wrapper{
	padding: 10px;
}
.title{
	font-size: 16px;
	line-height: 200%;
	font-weight: bold;
	color: #555555;
	margin-bottom: 6px;
}

.keywords{
	border:#CCC 1px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 6px 0px;
	text-indent: 0.5em;
	height: 22px;
	font-size: 14px;
	color: #333;
	width: 100%;
}

.search-form{
	width: 320px;
	margin: 0px auto;
}
.search-form dd{
	display: none;
	width: 100%;
	border:#CCC 1px solid;
	border-top: 0 none;
	font-size: 14px;
	max-height: 360px;
	overflow-y:auto; 
}
.search-form dd a{
	display: block;
	border-bottom: #CCC 1px dotted;
	background-color: #fff;
	padding: 8px 22px 8px 6px;
	text-decoration: none;
	color: #444;
	word-wrap: break-word;
}
.search-form dd strong{
	color: #FF7200;
}
.search-form dd .url{
	display: block;
	width: 100%;
	color: #999;
	font-size: 12px;
	padding: 4px 0 0;
}
.search-form dd .text{
	display: block;
	line-height: 150%;
	font-size: 13px;
	padding: 4px 0 0;
	color: #666;
}
.search-form dd a:hover{
	background-color: #EFEFEF;
}
.search-form dd a.selected{
	background-color: #c2eefe;
}

.copyright{
	line-height: 180%;
	font-size: 13px;
	padding: 16px 0px 10px;
	color: #CCC;
}
.copyright a{
	display: inline-block;
	text-decoration: none;
	color: #CCC;
	padding: 4px 6px;
	border-radius: 4px;
}
.copyright a:hover{
	background-color: #5cd2fe;
	color: #fff;
}